<div style="width: 50%; padding: 4rem">
  <div class="card card--secondary">
    <!-- the reason for using under score for class name card__header is because the header is the element inside this block, so it can not exist on it's own outside of this block or outside of this component. -->
    <header class="card__header">Card title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
      exercitationem dolores animi deleniti totam, officiis architecto, in sequi
      minima, atque maxime obcaecati cum ducimus veniam et. Eius temporibus
      dignissimos dicta?
    </div>
  </div>
</div>
