<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h1 class="collapsible__heading">Item1</h1>
    <svg class="icon icon--white collapsible__right">
      <!-- adding location for loading icon from our svg files. images/sprite.svg -->
      <use xlink:href="images/sprite.svg#right"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet officia
    dolorem minus voluptatibus quam doloribus, voluptatum perferendis! A, porro
    quisquam!
  </div>
</div>
