<div class="block container">
  <header class="block__header">
    <h2>We are striving to be holistically impowered community</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque officia
      libero numquam. In non impedit est. Asperiores quod veniam est!
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <!-- adding location for loading icon from our svg files. images/sprite.svg -->
          <use xlink:href="images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to use</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        fuga sint ea rem porro natus!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/easy.webp" alt="" />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <!-- adding location for loading icon from our svg files. images/sprite.svg -->
          <use xlink:href="images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to use</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        fuga sint ea rem porro natus!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/easy.webp" alt="" />
  </article>
</div>
