<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">teachMe hUB</h1>
      <h3>Bringing Your Ideas To Reality</h3>
      <p class="hero__tagline">
        We are dedicated to transforming innovative ideas into real-life
        designs.
      </p>
      <a href="" class="btn btn--accent btn--streched hero__btn">Get Started</a>
    </header>
    <img class="hero__image" src="images/backendlogos.png" alt="" />
  </div>
</section>
