<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User Friendly Panel</h2>
    <div class="container grid grid--1x2">
      <picture class="block-showcase__image">
        <source
          type="webp"
          srcset="images/banner@2x.webp 1x, images/banner@3x.webp 2x"
        />
        <source
          type="jpg"
          srcset="images/banner@2x.jpg 1x, images/banner@3x.jpg 2x"
        />
        <img src="images/banner.jpg" alt="" />
      </picture>
      <ul class="list">
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <!-- adding location for loading icon from our svg files. images/sprite.svg -->
                <use xlink:href="images/sprite.svg#settings"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy start & Managed Updates</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Quibusdam, aliquid? Ea suscipit dicta, aspernatur praesentium
                itaque nostrum quisquam, officiis iure autem eligendi nesciunt
                et cupiditate!
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <!-- adding location for loading icon from our svg files. images/sprite.svg -->
                <use xlink:href="images/sprite.svg#settings"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy start & Managed Updates</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Quibusdam, aliquid? Ea suscipit dicta, aspernatur praesentium
                itaque nostrum quisquam, officiis iure autem eligendi nesciunt
                et cupiditate!
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <!-- adding location for loading icon from our svg files. images/sprite.svg -->
                <use xlink:href="images/sprite.svg#settings"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy start & Managed Updates</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Quibusdam, aliquid? Ea suscipit dicta, aspernatur praesentium
                itaque nostrum quisquam, officiis iure autem eligendi nesciunt
                et cupiditate!
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </header>
</section>
