<section class="block">
  <header class="block__header">
    <h2>What the customers says</h2>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img
            src="images/testimonial.png"
            alt="a person sitting outside the"
          />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon-small">
              <!-- adding location for loading icon from our svg files. images/sprite.svg -->
              <use xlink:href="images/sprite.svg#quote"></use>
            </svg>
          </span>
        </div>
        <blockquote class="Quote">
          <p class="quote__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat
            laborum hic aut rem nesciunt alias cumque quis provident molestiae
            quod!
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <!-- adding location for loading icon from our svg files. images/sprite.svg -->
                <img
                  class="icon icon--primary quote__line"
                  src="images/line.svg"
                  alt=""
                />
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">Fablo Wagana</h3>
                <p class="quote__organization">Backendsupport Student club</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
